body {
  font-family: "Poppins", sans-serif;
  font-family: "Poppins", sans-serif;
  background: #f4f5f7;
}

:root {
  /* primary color */
  --dark-purple: #091e42;
  --logo-purple: #6070ff;
  --text-purple: #344563;
  --heading-purple: #091e42;
  --Grayish-blue: #505f79;
  --grey-backround: #f7f7f9;
  --purple: #396df2;
  --link-purple: #7f8cff;
  --White: #fff;
  --Black: #000;
  --neutral: #dfe1e6;
  --neutral-background: #e5e5e5;
  --btn-dark: #4053fc;
}

.main {
  width: 100%;
  background: url(../images/mobile.png), var(--White);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 50px;
  padding: 20px 0  40px;
}

.header,
.introduction {
  width: 100%;
}

.navbar {
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.navbar .links {
  display: none;
}

.navbar .logo {
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  color: var(--logo-purple);
  white-space: nowrap;
}

.navbar .hamburger {
  background: none;
  border: none;
  color: var(--logo-purple);
  font-weight: 500;
  font-size: 2rem;
}

.introduction .text {
  width: 80%;
  margin: 50px auto;
}

.text h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 52px;
  color: var(--heading-purple);
  width: 90%;
}

.text p {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: var(--text-purple);
  margin: 12px auto;
}

.text .let-connect {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: var(--link-purple);
}

.text .social-links {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin: 12px auto;
}

.social-links .link {
  font-weight: 500;
  font-size: 1.125rem;
  color: var(--Grayish-blue);
}

/* projects  */
.projects {
  width: 100%;
  margin: 50px auto;
  display: grid;
}

.project-row {
  background:var(--White);
  border-radius: 16px;
  width: 80%;
  margin: 80px auto;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px 25px;
}

.project-row .topic-text {
  gap: 12px;
  margin: 20px 0;
}

.project-row .language {
  flex-wrap: wrap;
  gap: 8px;
}
