body {
  font-family: "Poppins", sans-serif;
  background: #f4f5f7;
}

.main {
  width: 100%;
  background: url(../images/mobile.png), #fff;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 50px;
  padding: 40px 0;

  /* height: 100vh; */
}

.header,
.introduction,
.about {
  width: 100%;
}

.navbar {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .links {
  display: none;
}

.navbar .logo {
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  color: #6070ff;
}

.navbar .hamburger {
  background: none;
  border: none;
  color: #6070ff;
  font-weight: 500;
  font-size: 2rem;
}

.introduction .text,
.about .text {
  width: 80%;
  margin: 50px auto;
}

.text .heading {
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 52px;
  color: #172b4d;
}

.text p {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #344563;
  margin: 12px auto;
}

.text .let-connect {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: #7f8cff;
}

.text .social-links {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin: 12px auto;
}

.social-links .link {
  font-weight: 500;
  font-size: 1.125rem;
  color: #505f79;
}

/* projects  */
.projects {
  width: 100%;
  margin: 50px auto;
}

.project-row {
  background: #fff;
  border-radius: 16px;
  width: 80%;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 20px 20px 25px;
}

.project-row .topic-text {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 20px 0;
}

.project-row .language {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.footer {
  background: #fff;
  width: 100%;
  border-top-right-radius: 50px;
  padding: 100px 0;
  min-height: 100vh;
}

.footer .categories {
  width: 80%;
  margin: 48px auto;
}

.categories .category {
  padding: 12px;
}

.category .language-skill {
  display: flex;
  justify-content: space-between;
}

.language-skill p {
  font-weight: 500;
  font-size: 20px;
  color: #000;
}

.category .program-lang {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin: 24px 0 0;
}

.program-lang .program {
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.program p {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}
