/* Base styles */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700;900&display=swap'); */
html{
    scroll-behavior:smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
    width: 100%;
}